* {
  margin: 0;
  padding: 0;
}
/* 对于title的设定 */
header {
  width: 100%;
  height: 130px;
}
.top {
    background: #282828;
    width: 100%;
    height: 30px;
}
.top > div {
  margin: auto;
  width: 1000px;
  color: #a5a4a4;
}
.w1 {
  float: left;
}
.w2 {
  float: right;
  line-height: 30px;
}
a {
    text-decoration: none;
    color: #a5a4a4;
}
/* head二 */
.head {
  width: 100%;
  height: 100px;
  background-image: url("../image/head.jpg");
  background-repeat: no-repeat;
}
span {
  height: 100px;
  background: url("../image/jjlogo.png");
  background-repeat: no-repeat;
}

